*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(86, 8, 160);
    color: aliceblue;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 60px;
    padding: 6px;
}

header h1,
h2,
h3,
p {
    font-family: "Pixelify Sans", sans-serif;
    font-style: normal;
}

header h1 {
    font-size: 42px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(31, 31, 31);
}

header nav li,
article time,
article a {
    font-family: "Micro 5", sans-serif;
    font-style: normal;
}


header nav li {
    display: inline;
    margin-left: 8px;
    font-size: 32px;
}

.consols {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.consols a {
    text-decoration: none;
}

.consols img {
    height: 100px;
    margin: 50px;
    
}

h2 {
    color: rgb(86, 8, 160);
    margin-top: 16px;
    margin-bottom: 8px;
}

h3 {
    margin-top: 6px;
}

header nav li a {
    color: aqua;
    text-decoration: none;
}

.article article p {
    color: rgb(41, 37, 37);
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

.article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.article article img {
    width: 100%;
    height: 200px; 
}

.article article {
    width: 30%;
}

article a {
    background-color: blueviolet;
    color: aqua;
    text-decoration: none;
    padding: 3px;
}

article a:hover {
    background-color: rgb(165, 73, 250);
    color: yellow;
}

footer {
    padding: 8px;
    background-color: rgb(86, 8, 160);
    color: aliceblue;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: end;
}